*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#ffffff;
}

header{

background:#021633;

padding:20px 80px;

display:flex;

justify-content:space-between;

align-items:center;
}

.logo{

color:white;

font-size:30px;

font-weight:bold;
}

nav a{

color:white;

text-decoration:none;

margin-left:25px;
}

.hero{

background:#021633;

color:white;

display:flex;

align-items:center;

justify-content:space-between;

padding:80px;
}

.hero-left{

width:50%;
}

.hero-left h1{

font-size:70px;
}

.hero-left h2{

color:#3fa9ff;

font-size:40px;

margin-top:10px;
}

.hero-left p{

margin-top:25px;

font-size:22px;

line-height:1.6;
}

.hero button{

margin-top:30px;

padding:15px 30px;

border:none;

background:#0066ff;

color:white;

font-size:18px;

border-radius:10px;
}

.hero-right img{

width:650px;
}
.cards{

display:flex;

gap:20px;

padding:50px;

justify-content:center;

flex-wrap:wrap;
}

.card{

width:250px;

padding:25px;

border-radius:15px;

box-shadow:0 0 15px rgba(0,0,0,.1);

background:white;
}
.pdf-btn{

display:inline-block;

background:#0066ff;

color:white;

padding:12px 24px;

border-radius:10px;

text-decoration:none;

font-weight:bold;

margin-top:15px;

transition:0.3s;

}

.pdf-btn:hover{

background:#004db8;

}
.pdf-btn{
    display:inline-block;
    margin-left:15px;
    padding:15px 30px;
    background:#ffffff;
    color:#021633;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;
}
